body {
  padding: 2.5%;
}

.site-content {
  width: 100%;
  display: block;
  .side-logo-left {
   display: none;
  }
  .content-area {
    width: 100%;
  }
  .side-logo-right {
   display: none;
  }
}
.site-header {
  .site-branding {
    margin: 50px auto;
    img {
      display: block;
      width: 300px;
    }
  }
}
.site-content {
  .entry-content {
    p {
      font-size: 1.25rem;
      font-weight: 300;
      font-style: normal;
    }
  }
  .entry-author {
    display: flex;
    flex-flow: row nowrap;
    h2 {
      display: inline;
      margin: 0px;
      font-size: 1.25rem;
      font-weight: 300;
      font-style: normal;
      a{
        text-decoration: none;
        font-style: italic;
      }
    }
  }
  button {
    box-shadow: none;
    background: transparent;
    text-shadow: none;
    color: $color__link;
    font-size: 1rem;
    font-weight: 500;
    margin: 50px auto;
    padding: 0.75rem 2.25rem;
    border: 2px solid $color__link;
    &:hover {
      color: $color__link-hover;
      border: 2px solid $color__link-hover;
    }
    &:focus{
      outline: none;
    }
  }
}

.site-footer {
  font-weight: 300;
  margin-top: 40px;
  ul {
    //all menu item
    .menu-item {
      display: flex;
      flex-direction: row nowrap;
      span {
        margin: auto 1rem;
      }
    }
    //about
    .menu-item-222 {
    }
    //archives
    .menu-item-221 {
    }
    //submit a quote
    .menu-item-220 {
      margin-right: 1rem;
    }
    //red academy
    .menu-item-219 {
      width: 100%;
      .more-divide-mark{
        display: none;
      }
      span {
        margin-left: 0px;
      }
    }
  }
}

@include tablet {
  .site-footer ul .menu-item-219 .more-divide-mark{
    display: block;
  }
  .site-footer ul {
    flex-wrap: nowrap;
    .menu-item-219 {
      width: 270px;
      margin: 0px;
    }

  }
  .menu-item-219 {
    span {
      margin-left: 0px;
    }
  }
  
}
@include desktop {
  //show the left-logo and right-logo
  .site-content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    .side-logo-left {
      width: 20%;
      color: $color__link;
      font-size: 125px;
      display: flex;
      justify-content: center;
    }
    .content-area {
      width: 60%;
    }
    .side-logo-right {
      width: 20%;
      color: $color__link;
      font-size: 125px;
      display: flex;
      justify-content: center;
    }
  }
}